@import "tailwindcss";

body {
  font-family: 'SUSE Mono', monospace;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* .mask2{
  -webkit-mask-image: url("/Logo.webp");
  mask-image: url("/Logo.webp");
  mask-repeat: no-repeat;    
  mask-position: center;

  
}
 */

/* body {
  height: 300vh;
} */
html,
body {
  cursor: none;
}


::-webkit-scrollbar {
  width: 50px;
  /* عرض شريط التمرير */
}

::-webkit-scrollbar-track {
  background: #fff;
  /* الخلفية بيضاء */
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  /* البار أسود */
  border-radius: 6px;
  /* زوايا دائرية */
  border: 3px solid #fff;
  /* فراغ أبيض حول البار */
}

/* فايرفوكس */
* {
  scrollbar-width: auto;
  /* نحيف */
  scrollbar-color: #000 #fff;
  /* thumb أسود و الخلفية بيضاء */
}




@theme {
  --breakpoint-m: 300px;
  --breakpoint-xm: 400px;
  --breakpoint-sm: 500px;
  --breakpoint-xd: 600px;
  --breakpoint-md: 700px;
  --breakpoint-lg: 800px;
  --breakpoint-ml: 900px;
  --breakpoint-xl: 1100px;
  --breakpoint-2xl: 1300px;
}